#how{
    
    div{
        h1{
            color: var(--blue);
        }
    }
    p{
        color: var(--green);
    }
    ul{
        li{
            padding: 30px;
            border: 2px solid var(--grey);
            border-radius: 14px;

            img{
                margin-bottom: 50px;
            }

            display: inline-block;

            h2{
                color: var(--blue);
                margin-bottom: 10px;
            }
        }
    }
}