/* =============
    Navigation
============= */
a{
    text-decoration: none;
    display: inline-block;
}


nav{
    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li{
            list-style: none;
            margin-left: 25px;
            a:link, a:visited{
                color: var(--grey);
                font-size: rem-calc(14);
                font-weight: 600;
            }

            a:hover, a:active{
                color: var(--codex);

            }
            
            a.blue-link{

                color: var(--codex);

            }

            a.blue-link:hover{

                color: var(--gray);

            }

            a.selected{

                color: var(--codex);
            }

        }

        #sign-in-btn{
            margin-left: auto;
        }

    }
}