/* =============
    Navigation
============= */
a{
    text-decortation: none;
}


nav{
    ul{
        li{
            a:link, a:visited{
                color: var(--grey);
            }

            a:hover, a:active{

            }

        }

        .selected{

            color: var(--green);
        }
    }
}